.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 38px;
  margin-top: 20px;
}


  
*{
  background-color: rgb(26,43,51);
  justify-content: center;
}

.h1 {
  font-size: 50px;
  color: rgb(170,194,202);
  text-align: center;
  border-radius: 20px;
}
.center {
  gap: 9px;
  display: flex;
  justify-content: center;
}

.clickbtn {
  margin: 4px 2px;
  transition: 0.3s;
  width: 180px;
  height: 50px;
  border-width: 0px;
  background-color: rgb(30,54,64);
  
  color: rgb(170,194,202);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-size: 22px;
  border-radius: 10px;
  
}

.clickbtn:hover {
  
  background-color: rgb(170,194,202);
  color: rgb(30,54,64);
}

.image {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 825px;
  height: 465px;
  z-index:1;
}



.h2 {
  font-size: 16px;
  display: flex;
  height: 35px;
  
  border-radius: 12px;


  font-size: 18px;
  width: 83px;
  text-align: center;

  color: rgb(170,194,202);


  justify-content: center;
  align-items: center;
}

.cell {
  transition: 0.3s;
  width: 130px;
  text-align: center;
  height: 130px;
  background-color: rgb(30,54,64);
  color : rgb(30,54,64);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:70px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}


.inputer {
  color : rgb(170,194,202);
  border-width: 0px;
  border-radius: 12px;
  display: flex;
  height: 35px;
  font-size: 30px;
  width: 80px;
  text-align: center;
}

